/* ---- particles.js container ---- */

#particles-js{
    background: #000000 url(/user/themes/whyaddicted/img/whyaddicted-background.png) no-repeat;
    background-position: center;
    z-index: 4;
    height: 100%;
    height: 300px;
    background-position-y: 90px;
    margin-bottom: 35px;
}
.aa_sec
{
    position: absolute;
    z-index: 5;
    top: 55px;
    right: 0;
    left: 0;
    margin: 0  auto;
}
.aa_txt
{
    text-align: center;
    color: #fff;
}
.aa_inner
{
    padding: 0 2rem;
    color: white;
    text-transform: uppercase;
    background: $c2;
}

/* Social Sharing on Jumbotron */
.social-share {
	position: inherit;
}

/* Icon List Color */
.icon-office,.icon-phone,.icon-airplane,.icon-accessibility,.icon-list,.icon-display,.icon-calculator,.icon-skype,.icon-clipboard,.icon-calendar,.icon-aid-kit,.icon-pie-chart,.icon-question,.icon-circle-right {
    color: #7dc375;
}

/* The following CSS is for the Letter.js on the Rehab Placement page */
.col-xs-12 h2 {
    margin: 0% 0;
}
.img-fluid {
  max-width: 95%;
  height: auto;
}
.g-headerlicious .g-headerlicious-header-wrapper {
    display: block;
}
.g-headerlicious .g-headerlicious-header-wrapper {
    display: block;
}
.g-headerlicious .g-headerlicious-header-wrapper.animate h2 span {
    -webkit-transform: translate3d(0,  0,  0);
    -moz-transform: translate3d(0,  0,  0);
    -ms-transform: translate3d(0,  0,  0);
    -o-transform: translate3d(0,  0,  0);
    transform: translate3d(0,  0,  0);
}
.g-headerlicious .g-headerlicious-header-wrapper a h2 span:hover {
    cursor: pointer !important;
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock h2 {
    margin: 0;
    font-size: 7rem;
    font-weight: 700;
    color: #fff;
    line-height: 10rem;
    letter-spacing: -3px;
    text-align: center;
    text-shadow: 0 1px 0 #c9cfce,  0 2px 0 #bcc2c2,  0 3px 0 #afb6b6,  0 4px 0 #a4adac,  0 5px 0 #9fa8a7,  0 6px 0 #99a3a2,  0 7px 0 #97a1a0,  0 8px 0 #949e9d,  0 0 5px rgba(0,  0,  0,  .05),  0 1px 3px rgba(0,  0,  0,  .2),  0 3px 5px rgba(0,  0,  0,  .2),  0 5px 10px rgba(0,  0,  0,  .2),  0 10px 10px rgba(0,  0,  0,  .2),  0 20px 20px rgba(0,  0,  0,  .3);
}
@media only all and (min-width:48rem) and (max-width:59.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock h2 {
    letter-spacing: -1px;
    font-size: 5rem;
}
}@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock h2 {
    font-size: 3.5rem;
    letter-spacing: -1px;
    line-height: normal;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-top: 50px;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock.animate h2 span {
    line-height: 15rem;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}
@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock.animate h2 span {
    line-height: normal;
    margin-top: 5rem;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock.animate h2 span:hover {
    cursor: default;
    font-size: 15rem;
}
@media only all and (min-width:48rem) and (max-width:59.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock.animate h2 span: hover {
    font-size: 7rem;
}
}@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-dock.animate h2 span: hover {
    font-size: 3.5rem;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk h2 {
    margin: 0;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
@media only all and (min-width:48rem) and (max-width:59.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk h2 {
    font-size: 7rem;
}
}@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk h2 span {
    text-shadow: 0.25rem -0.25rem #4063fb,  -0.25rem -0.25rem #2fe09c,  0 0.5rem #9091a2;
}
@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk h2 span {
    text-shadow: 0.15rem -0.15rem #4063fb,  -0.15rem -0.15rem #2fe09c,  -0.1rem 0.4rem #9091a2;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk.animate h2 span {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk.animate h2 span:hover {
    cursor: default;
    text-shadow: 0.6rem 0.1rem magenta,  -0.35rem -0.35rem cyan,  0.1rem 0.6rem yellow;
}
@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-cmyk.animate h2 span: hover {
    text-shadow: 0.5rem 0rem magenta,  -0.25rem -0.25rem cyan,  0 0.5rem yellow;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-perspective h2 {
    margin: 0;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    text-shadow: 0 1px 0 #c9cfce,  0 2px 0 #bcc2c2,  0 3px 0 #afb6b6,  0 4px 0 #a4adac,  0 5px 0 #9fa8a7,  0 6px 0 #99a3a2,  0 7px 0 #97a1a0,  0 8px 0 #949e9d,  0 0 5px rgba(0,  0,  0,  .05),  0 1px 3px rgba(0,  0,  0,  .2),  0 3px 5px rgba(0,  0,  0,  .2),  0 5px 10px rgba(0,  0,  0,  .2),  0 10px 10px rgba(0,  0,  0,  .2),  0 20px 20px rgba(0,  0,  0,  .3);
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-perspective.animate h2:hover {
    cursor: default;
    -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
    -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
    -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
    -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
    transform: perspective(8em) rotateX(11deg) scale(1.2);
    text-shadow: 0 0 0 #c9cfce,  0 1px 0 #bcc2c2,  0 2px 0 #afb6b6,  0 3px 0 #a4adac,  0 4px 0 #9fa8a7,  0 0 5px rgba(0,  0,  0,  .05),  0 1px 3px rgba(0,  0,  0,  .2),  0 3px 5px rgba(0,  0,  0,  .2),  0 5px 10px rgba(0,  0,  0,  .2),  0 10px 10px rgba(0,  0,  0,  .2),  0 20px 20px rgba(0,  0,  0,  .3);
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-extrude h2 {
    margin: 0;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    mix-blend-mode: screen;
    letter-spacing: 0.2em;
    text-shadow: -2px 1px #fff,  -3px 2px #fff,  -4px 3px #fff,  -5px 4px #fff,  -6px 5px #fff,  -7px 6px #fff,  -8px 7px #fff,  -9px 8px #fff,  -10px 9px #fff,  -11px 10px #fff,  -12px 11px #fff;
}
@media only all and (min-width:48rem) and (max-width:59.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-extrude h2 {
    letter-spacing: 0.2em;
    font-size: 5rem;
    text-shadow: -2px 1px #fff,  -3px 2px #fff,  -4px 3px #fff,  -5px 4px #fff,  -6px 5px #fff;
}
}@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-extrude h2 {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 3rem;
    text-shadow: -2px 1px #fff,  -3px 2px #fff;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-extrude.animate h2 {
    opacity: 0;
    animation: revolve 1s cubic-bezier(0.47,  0.01,  0,  1.01) forwards 0.25s;
    text-shadow: 0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff,  0px 0px #fff;
}
@keyframes revolve {
    to {
    opacity: 1;
    text-shadow: -2px 1px #fff,  -3px 2px #fff,  -4px 3px #fff,  -5px 4px #fff,  -6px 5px #fff,  -7px 6px #fff,  -8px 7px #fff,  -9px 8px #fff,  -10px 9px #fff,  -11px 10px #fff,  -12px 11px #fff;
}
}@media only all and (min-width:48rem) and (max-width:59.938rem) {
    @keyframes revolve {
    to {
    opacity: 1;
    text-shadow: -2px 1px #fff,  -3px 2px #fff,  -4px 3px #fff,  -5px 4px #fff,  -6px 5px #fff;
}
}}@media only all and (max-width:47.938rem) {
    @keyframes revolve {
    to {
    opacity: 1;
    text-shadow: -2px 1px #fff,  -3px 2px #fff;
}
}}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 {
    margin: 0;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500;
    -webkit-font-smoothing: antialiased;
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span:before, .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span:after {
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    transform-origin: left top;
    content: attr(data-char);
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span:before {
    z-index: 1;
    color: rgba(0,  0,  0,  0.2);
    transform: scale(1.1,  1) skew(0deg,  20deg);
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span:after {
    z-index: 2;
    color: #4063fb;
    text-shadow: -1px 0 1px #4063fb,  1px 0 1px rgba(0,  0,  0,  0.8);
    transform: rotateY(-40deg);
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span + span {
    margin-left: 0.15em;
}
@media only all and (min-width:48rem) and (max-width:59.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 {
    font-size: 7rem;
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span + span {
    margin-left: 0.05em;
}
}@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext h2 span + span {
    margin-left: 0.05em;
}
}.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext.animate h2 span:hover:before {
    transform: scale(1.1,  1) skew(0deg,  5deg);
}
.g-headerlicious .g-headerlicious-header-wrapper.g-headerlicious-header-peeledtext.animate h2 span:hover:after {
    transform: rotateY(-10deg);
}
.g-headerlicious .g-headerlicious-tagline {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: rgba(255,  255,  255,  0.3);
}
@media only all and (max-width:47.938rem) {
    .g-headerlicious .g-headerlicious-tagline {
    font-size: 1.5rem;
}
}.g-container {
    width: 75rem;
}
