/* ---- particles.js container ---- */

#particles-js{
    background: #000000;
    z-index: 4;
    height: 100%;
    height: 100vh;
}
.aa_sec
{
    position: absolute;
    z-index: 5;
    top: 20%;
    right: 0;
    left: 0;
    margin: 0  auto;
}
.aa_txt
{
    text-align: center;
    color: #fff;
}
.aa_inner
{
    padding: 0 2rem;
    color: white;
    text-transform: uppercase;
    background: $c2;
}

/* Social Sharing on Jumbotron */
.social-share {
	position: inherit;
}

/* Icon List Color */
.icon-office,.icon-phone,.icon-airplane,.icon-accessibility,.icon-list,.icon-display,.icon-calculator,.icon-skype,.icon-clipboard,.icon-calendar,.icon-aid-kit,.icon-pie-chart,.icon-question,.icon-circle-right {
    color: #7dc375;
}
