<section id="contact_us" class="section-signup bg-faded">
  <div class="container">
    <div class="col-md-6 col-xl-6 col-xs-12">
        <div class="row">
            {{ page.content }}
        </div>
    </div>
    <div class="col-md-6 col-xl-6 col-xs-12">
    	<div class="row">
        	{% include "forms/form.html.twig" %}
        </div>
    </div>
  </div>
</section>
