<section id="why_addicted" class="section-features text-center">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <h1 class="text-center m-b-lg">{{ site.header.question1 }}</h1>
                </div>
                <div class="carousel-item">
                    <h1 class="text-center m-b-lg">{{ site.header.question2 }}</h1>
                </div>
                <div class="carousel-item">
                    <h1 class="text-center m-b-lg">{{ site.header.question3 }}</h1>
                </div>
                <div class="carousel-item">
                    <h1 class="text-center m-b-lg">{{ site.header.question4 }}</h1>
                </div>
                <div class="carousel-item">
                    <h1 class="text-center m-b-lg">{{ site.header.question5 }}</h1>
                </div>
            </div>
        </div>
        <p class="wp wp-1">{{ site.header.answer }}</p>
        <div class="row">
            {{ page.content }}
            <div class="features-wrapper">
                {% for item in page.header.features %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block">
                            {% if item.icon %}
                                <span class="icon-{{ item.icon }}"></span>
                            {% endif %}
                            {% if item.title %}
                                <h4 class="card-title">{{ item.title }}</h4>
                            {% endif %}
                            {% if item.subtitle %}
                                <h6 class="card-subtitle text-muted">{{ item.subtitle }}</h6>
                            {% endif %}
                            {% if item.text %}
                                <p class="card-text">{{ item.text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
