<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
        {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="{{ url('theme://img/favicon/favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ url('theme://img/favicon/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url('theme://img/favicon/favicon-152-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url('theme://img/favicon/favicon-144-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://img/favicon/favicon-120-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://img/favicon/favicon-114-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://img/favicon/favicon-180-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url('theme://img/favicon/favicon-72-precomposed.png') }}">
        <link rel="apple-touch-icon" href="{{ url('theme://img/favicon/favicon-57.png') }}">
        <link rel="icon" href="{{ url('theme://img/favicon/favicon-32.png" sizes="32x32') }}">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="{{ url('theme://img/favicon/favicon-144.png') }}">
        <meta name="theme-color" content="#ffffff">
        <link rel="manifest" href="{{ url('theme://img/favicon/manifest.json') }}">
        <link rel="icon" sizes="192x192" href="{{ url('theme://img/favicon/favicon-192.png') }}">
        {% block stylesheets %}
            {% do assets.addCss('theme://css/animate.min.css') %}
            {% do assets.addCss('theme://css/landio.css') %}
            {% do assets.addCss('theme://css/whyaddicted.css') %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.add('jquery',101) %}
        {% endblock %}
        {{ assets.js() }}

        {% endblock head%}
</head>
    <body>
        {% block navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% block header %}
            {% include 'partials/header-whyaddicted.html.twig' %}
        {% endblock %}

        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% block footer %}
             {% include 'partials/footer.html.twig' %}
        {% endblock %}
    <section class="section-video bg-inverse text-xs-center wp wp-4 sr-only">
        <h3 class="sr-only">Video</h3>
        <video id="demo_video" class="video-js vjs-default-skin vjs-big-play-centered" controls data-setup='{}'></video>
    </section>
    <script src="{{ url('theme://js/landio.min.js') }}" type="text/javascript" ></script>
	<script src="{{ url('theme://js/particles.min.js') }}" type="text/javascript" ></script>
	<script src="{{ url('theme://js/app.js') }}" type="text/javascript" ></script>
    <!-- Start of HubSpot Embed Code --> 
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4217413.js"></script>
    <!-- End of HubSpot Embed Code -->
    </body>
</html>
