<style>
.img-fluid {
  max-width: 95%;
  height: auto;
}
</style>
<div class="aa_sec">
  <div class="aa_txt">
    <h1 class="display-3"><img src="{{ url('theme://img/why-addicted.svg') }}" alt="Why Addicted" class="img-fluid"></h1>
    <h2 class="m-b-lg"></h2>
    <a class="btn btn-secondary-outline m-b-md" href="#why_addicted" role="button"><span class="icon-circle-right"></span>Discover More</a>

    <ul class="list-inline social-share">
        {% if site.socialcount.twitter_url %}
            <li><a class="nav-link" href="{{ site.socialcount.twitter_url }}"><span class="icon-twitter"></span> <span class="social-text" id="twitter-count">445</span></a></li>
        {% endif %}
        {% if site.socialcount.facebook_url %}
            <li><a class="nav-link" href="{{ site.socialcount.facebook_url }}"><span class="icon-facebook"></span> <span class="social-text" id="facebook-count">37</span></a></li>
        {% endif %}
        {% if site.socialcount.linkedin_url %}
            <li><a class="nav-link" href="{{ site.socialcount.linkedin_url }}"><span class="icon-linkedin"></span> <span class="social-text" id="linkedin-count">3</span></a></li>
        {% endif %}
    </ul>
  </div>
</div>
<div id="particles-js"></div>
