<div class="col-md-12 col-xl-12 col-xs-12">
    <div class="row">
        <div class="aa_sec">
          <div class="aa_txt">

            <div class="g-block size-100">
                <div id="headerlicious-7991-particle" class="g-content g-particle">
                    <div class="g-headerlicious ">
                        <div class="g-headerlicious-header-wrapper g-headerlicious-header-dock animate">
                            <h2 class="g-headerlicious-header">{{ page.title }}</h2>
                        </div>
                        <div class="g-headerlicious-tagline">{{ page.description }}</div>
                    </div>
                </div>
            </div>

          </div>
        </div>
    </div>
</div> 
<div id="particles-js"></div>
