
<header class="jumbotron bg-inverse text-center center-vertically" role="banner">
  <div class="container">

<script type="text/javascript">
screen = $(window).width();
if (screen <= 420){ 
    document.write("<img src='{{ url('theme://img/whyaddicted-com.png') }}' alt='Why Addicted' class='img-fluid' width='100%'>");
} else {
    document.write("<img src='{{ url('theme://img/whyaddicted-com.png') }}' alt='Why Addicted' class='img-fluid'>");
}
</script>

    <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <h1 class="display-3">{{ site.header.question1 }}</h1>
        </div>
        <div class="carousel-item">
          <h1 class="display-3">{{ site.header.question2 }}</h1>
        </div>
        <div class="carousel-item">
          <h1 class="display-3">{{ site.header.question3 }}</h1>
        </div>
        <div class="carousel-item">
          <h1 class="display-3">{{ site.header.question4 }}</h1>
        </div>
        <div class="carousel-item">
          <h1 class="display-3">{{ site.header.question5 }}</h1>
        </div>
      </div>
    </div>
    <h1 class="display-3">Land.io, blissful innovation.</h1>
    <h2 class="m-b-lg">{{ site.header.description }}</h2>-->
    {% for item in site.header.buttons %}
    <!--<a class="btn btn-secondary-outline m-b-md" href="{{ item.url }}" role="button"><span class="icon-{{ item.icon }}"></span>{{ item.text }}</a>-->
    {% endfor %}

    <script type="text/javascript">
        {% if site.socialcount.facebook_url %}
        // Facebook Shares Count
        $.getJSON( '//graph.facebook.com/?id={{ site.socialcount.url }}', function( fbdata ) {
            $('#facebook-count').text(fbdata.shares)
        });
    {% endif %}
    {% if site.socialcount.twitter_url %}
        // Twitter Shares Count
        $.getJSON( '//api.twitter.com/1.1/urls/count.json?url={{ site.socialcount.twitter_url }}&callback=?', function( twitdata ) {
            $('#twitter-count').text(twitdata.count)
        });
    {% endif %}
    {% if site.socialcount.linkedin_url %}
        // LinkedIn Shares Count
        $.getJSON( '//www.linkedin.com/countserv/count/share?url={{ site.socialcount.url }}&callback=?', function( linkdindata ) {
            $('#linkedin-count').text(linkdindata.fCntPlusOne)
        });
    {% endif %}
    </script>

    <ul class="list-inline social-share">
        {% if site.socialcount.twitter_url %}
            <li><a class="nav-link" href="{{ site.socialcount.twitter_url }}"><span class="icon-twitter"></span> <span class="social-text" id="twitter-count">329</span></a></li>
        {% endif %}
        {% if site.socialcount.facebook_url %}
            <li><a class="nav-link" href="{{ site.socialcount.facebook_url }}"><span class="icon-facebook"></span> <span class="social-text" id="facebook-count">32</span></a></li>
        {% endif %}
        {% if site.socialcount.linkedin_url %}
            <li><a class="nav-link" href="{{ site.socialcount.linkedin_url }}"><span class="icon-linkedin"></span> <span class="social-text" id="linkedin-count">0</span></a></li>
        {% endif %}
    </ul>
  </div>
</header>

