{% extends 'partials/base.html.twig' %}
{% block header %}{% endblock %}
{% block content %}
<section class="section-text">
    <div class="container">
        <div class="row text-left">
            <!-- <div class="col-md-8 col-xl-4 col-xl-offset-4"> -->
            <div class="col-md-12">
                <h1 class="arrow">{{ page.header.title }}</h1>
                {{ page.content }}
                {% for row in page.header.text|batch(4) %}
                {% for text in row %}
                <div class="col-md-6">
                    {{ text.content }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
