{% extends 'partials/base.html.twig' %}
{% block header %}{% endblock %}
{% block content %}
<section class="section-text">
    <div class="container">
        <div class="row text-left">
            <div class="col-md-12">
                <h1 class="arrow">{{ page.header.title }}</h1>
                {{ page.content }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
