{% extends 'partials/base-smalls.html.twig' %}
{% use 'blog/bootstrap/blog_theme.html.twig' %}

{% block content %}
    <div class="container">
        {{ block('blog_post') }}
    </div>
{% endblock %}
